@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Slabo+27px&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Slabo 27px", serif;
  background: #333;
  color: #fff;
  line-height: 1.6;
}

.slider {
  position: relative;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}
.slide {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}

.slide.current {
  opacity: 1;
}

.slide .content {
  position: absolute;
  top: 0;
  left: -600px;
  opacity: 0;
  width: 600px;
  background-color: rgb(255, 255, 255, 0.8);
  color: #333;
  padding: 20px;
  border-radius: 12px;
}
.slide .content h1 {
  margin-bottom: 10px;
}

.slide.current .content {
  opacity: 1;
  transform: translateX(600px);
  transition: all 0.7s ease-in-out 0.3s;
}

.buttons button#next {
  position: absolute;
  top: 50%;
  right: 15px;
}
.buttons button#prev {
  position: absolute;
  top: 50%;
  left: 15px;
}

.buttons button {
  border: 2px solid #fff;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  padding: 13px 15px;
  border-radius: 50%;
  outline: none;
}

.buttons button:hover {
  background-color: white;
  color: #333;
}

.slideButton {
  background-color: #333;
  border: none;
  color: white;
  padding: 10px;
  font-family: "Slabo 27px", serif;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 3px 2px;
  margin-top: 8px;
  cursor: pointer;
  border-radius: 12px;
}
.slideButton:hover {
  background-color: white;
  color: #333;
}

@media (max-width: 500px) {
  .slide .content {
    bottom: -300px;
    left: 0;
    width: 100vw;
  }

  .slide.current .content {
    transform: translateY(-300px);
  }
}

/* Background Images */

.slide:first-child {
  background: url("/images/Chat.PNG") top;
}

.slide:nth-child(2) {
  background: url("/images/Chat2.PNG") no-repeat top/cover;
}

.slide:nth-child(3) {
  background: url("/images/TVGuideSS1.PNG") no-repeat top/cover;
}
.slide:nth-child(4) {
  background: url("/images/TVGuide2.PNG") no-repeat top/cover;
}
.slide:nth-child(5) {
  background: url("/images/FeedbackSS.PNG") no-repeat top/cover;
}
.slide:nth-child(6) {
  background: url("/images/FeedbackSS2.PNG") no-repeat top/cover;
}
.slide:nth-child(7) {
  background: url("/images/FeedbackSS3.PNG") no-repeat top/cover;
}
